body {
  background-color: white;
}

table.topNavTable {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

div.topMainLogo {
  border: 1px solid #C8C8C8;
  border-bottom-width: 0px;
  font-size: 1.5em;
}

.gwt-MenuBar, .gwt-MenuBar-Horizontal {
  border: 1px solid #C8C8C8;
  background-color: #E8E8E8;
}

.gwt-MenuItem {
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #E8E8E8;
}

.gwt-MenuItem-selected,
  .gwt-MenuItem-selected.hover,
  .gwt-MenuItem-selected.click {
  cursor: pointer;
  background-color: white;
  border: 1px solid #C8C8C8;
}