body {
  background-color: white;
}

div.mainDiv {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

table.topNavDiv{
}

.gwt-MenuBar, .gwt-MenuBar-Horizontal {
  border: 1px solid #C8C8C8;
  background-color: #E8E8E8;
}

.gwt-MenuItem {
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #E8E8E8;
}

.gwt-MenuItem-selected,
  .gwt-MenuItem-selected.hover,
  .gwt-MenuItem-selected.click {
  cursor: pointer;
  background-color: white;
  border: 1px solid #C8C8C8;
}

.header {
  width:100%;
  border: 1px C8C8C8;
}

.top_nav_div {
  background-color: white;
  border: 1px #C0C0C0;
}
