body {
  background-color: white;
}

table.topNavTable {
  margin-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

div.topMainLogo {
  border: 1px solid #C8C8C8;
  border-bottom-width: 0px;
  font-size: 1.5em;
}

.gwt-MenuBar, .gwt-MenuBar-Horizontal {
  border: 1px solid #C8C8C8;
  background-color: #E8E8E8;
}

.gwt-MenuItem {
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #E8E8E8;
}

.gwt-MenuItem-selected,
  .gwt-MenuItem-selected.hover,
  .gwt-MenuItem-selected.click {
  cursor: pointer;
  background-color: white;
  border: 1px solid #C8C8C8;
}

div.contentMain {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

table.contentTable{
  width: 100%;
}

div.contentTitle {
  width: 100%;
  margin-bottom: 2%;
  font-size: 1.5em;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
}