<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
			     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.java.gwt.libertycinema.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/libertycinema/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>staticdataService</servlet-name>
    <servlet-class>com.java.gwt.libertycinema.server.StaticDataServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>staticdataService</servlet-name>
    <url-pattern>/libertycinema/staticdata</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>uploadImage</servlet-name>
    <servlet-class>com.java.gwt.libertycinema.server.UploadImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getImage</servlet-name>
    <url-pattern>/libertycinema/getimage</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>getImage</servlet-name>
    <servlet-class>com.java.gwt.libertycinema.server.GetImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getImage</servlet-name>
    <url-pattern>/libertycinema/getimage</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LibertyCinema.html</welcome-file>
  </welcome-file-list>

</web-app>
